a {
    color: #ef6000;
    background-color: #0A0a0a;
    border: 4px;
    border-color: #0A0a0a;
    padding: 5px
}

.projects {
    background-color: #2ec4b6;
    color: #2ec4b6;
}

.about-me {
    background-color: #2ec4b6;
    color: #2ec4b6;
}

.home {
    background-color: #2ec4b6;
    color: #2ec4b6;
}

.accessibility {
    background-color: #2ec4b6;
    background: #2ec4b6;
}

.Home {
    color: #2ec4b6;
    background-color: #2ec4b6;
}

body {
    background-color: #ef6000;

}

p {
    color: #0A0a0a;
    background-color: black;
    font-family: 'Times New Roman', Times, serif;
}

.description {
    color: #ef6000;
    background-color: #0A0a0a;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.professional-headshot {
    align-items: center;
    text-align: center;
    position: relative;
    width: 50vw;
    height: 50vw;
    left: calc(50% - 25vw);
    bottom: 50%;
}
.nav {
color: black;
background-color:black;
}
.MJFM{
height: 60px;
width: auto;
display: inline;
flex-wrap: wrap;
aspect-ratio:  60px/60px;

}
img {
    background-color: transparent;
    position: relative;
    /* left: calc(50vw - .5 * 700px); */
    /* top:15px; */
    width: 700px;
    height: auto;
    display: grid;

}

/* .turtleShell{
    background-image: image-set(turtleShell);
    display:flex;
} */
.button-center {
    /* position: relative; */
    /* left: calc(50vw - .5 * 180px); */
    background-color: transparent;
    border-color: transparent;
    color: #0A0a0a;
    height: 25vw;
    font-size: 4vw;
    width: 25vw;
    border-radius: 200px;
    /* top: calc(-1 * (50vh - 0.5 * 1px)); */
    /* top: -57.5vh; */
}

.button-left {
    /* position: relative; */
    padding: 0px;
    margin: 0px;
    /* left: calc(50vw - 275px);    */
    background-color: transparent;
    border-color: transparent;
    text-align: center;
    color: #0A0a0a;
    height: 20vw;
    width: 20vw;
    font-size: 3vw;
    border-radius: 200px;
    /* top: calc(-1 * (50vh - 0.5 * 1px));  
       top: -80vh; */
}

.button-right {
    /* position: relative; */
    /* left: calc(36.5vw - .5 * 160px); */
    background-color: transparent;
    border-color: transparent;
    text-align: center;
    color: #0A0a0a;
    height: 20vw;
    width: 20vw;
    font-size: 3vw;
    border-radius: 200px;
    /* top: calc(-1 * (50vh - 0.5 * 1px)); */
    /* top: -60vh;  */
}

.button-top-left {
    /* position: relative; */
    padding: 0px;
    margin: 0px;
    /* left: calc(50vw - 275px);    */
    background-color: transparent;
    border-color: transparent;
    text-align: center;
    color: 0A0a0a;
    height: 25vw;
    width: 23vw;
    font-size: 3vw;
    border-radius: 150px 40px;
    /* top: calc(-1 * (50vh - 0.5 * 1px));  
       top: -80vh; */
}

.button-top-right {
    /* position: relative; */
    padding: 0px;
    margin: 0px;
    /* left: calc(50vw - 275px);    */
    background-color: transparent;
    border-color: transparent;
    text-align: center;
    color: #0A0a0a;
    height: 25vw;
    width: 23vw;
    font-size: 3vw;
    border-radius: 40px 150px 40px 150px;

    /* top: calc(-1 * (50vh - 0.5 * 1px));  
       top: -80vh; */
}

.button-bottom-right {
    /* position: relative; */
    padding: 0px;
    margin: 0px;
    /* left: calc(50vw - 275px);    */
    background-color: transparent;
    border-color: transparent;
    text-align: center;
    color: #0A0a0a;
    height: 25vw;
    width: 23vw;
    font-size: 3vw;
    border-radius: 150px 40px;
    /* top: calc(-1 * (50vh - 0.5 * 1px));  
       top: -80vh; */
}

.button-bottom-left {
    /* position: relative; */
    padding: 0px;
    margin: 0px;
    /* left: calc(50vw - 275px);    */
    background-color: transparent;
    border-color: transparent;
    text-align: center;
    color: #0A0a0a;
    height: 25vw;
    width: 23vw;
    font-size: 3vw;
    border-radius: 40px 150px;

    /* top: calc(-1 * (50vh - 0.5 * 1px));  
       top: -80vh; */
}

.button-link {
    color: #2ec4b6;
    background-color: transparent;
    font-size: xx-small;
}

br {
    font-size: 0.001px;
    height: 0.001;
    padding: 0.00001px;
    margin: 0.0001px;
}

.InteractiveTurtleShell {
    position: relative;
    width: 100%;
    /* height: 80vh; */
    overflow: hidden;
    display: grid;
    aspect-ratio: 5/4;
}

.InteractiveTurtleShell img {
    width: 100%;
    height: 100%;
    size: cover;
    background-size: cover;
    object-fit: cover;
    display: block;
    align-items: center;
    color: #2ec4b6;
    /* grid-area: 1/1; */

}

.button-left,
.button-right,
.button-center {
    position: absolute;
    top: 52.5%;
    transform: translateY(-50%);
}

.button-top-left,
.button-top-right {
    position: absolute;
    top: 20%;
    transform: translateY(-50%);
}

.button-bottom-left,
.button-bottom-right {
    position: absolute;
    top: 83%;
    transform: translateY(-50%);
}

.button-left {
    left: 10%;
}

.button-center {
    left: 50%;
    transform: translate(-50%, -50%);
}

.button-right {
    right: 10%;
}

.button-top-left {
    left: 23%;
}

.button-top-right {
    right: 23%;
}

.button-bottom-left {
    left: 23%;
}

.button-bottom-right {
    right: 23%;
}

.contact-info {
    text-align: center;
    color: #0A0a0a;
    background-color: #2ec4b6;
    display: block;
    border: 5px solid #0A0a0a;
    font-size: 2vw;
}

footer {
    margin: 0px;
    padding: 0px;
    border: #0A0a0a;
}

h5 {
    text-align: center;
}