a{
    color: #ef6000;
    background-color: black;
    border: 4px;
    border-color: black;
    padding: 5px
}

body{
    background-color:#ef6000;

}
p{
    color:white;
    background-color: black;
    font-family: 'Times New Roman', Times, serif;
}
.Description{
    color: black;
    background-color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.Professional-Headshot{
    align-items: center;
    text-align: center;
}
img{
    background-color: transparent;
    position: relative;
    left: calc(50vw - .5 * 700px);
    top:15px;
    width: 700px;
    height:auto;
    display: flex;
    
}
.buttonCenter{
    position: relative;
    left: calc(50vw - .5 * 180px);
    background-color: black;
    border-color: black;
    color: #ef6000;
    height: 150px;
    font-size: 200%;
    width:180px;
    border-radius: 60px;
     /* top: calc(-1 * (50vh - 0.5 * 1px)); */
     top: -57.5vh;
}
.buttonLeft{
    position: relative;
    padding: 0px;
    margin: 0px;
   left: calc(50vw - 275px);   
    background-color: black;
    border-color: black;
    text-align: center;
    color: #ef6000;
    height: 125px;
    width:150px;
    font-size: 200%;
    border-radius: 200px;
     /* top: calc(-1 * (50vh - 0.5 * 1px)); */
     top: -80vh;
}
.buttonRight{
    position: relative;
    left: calc(36.5vw - .5 * 160px);
    background-color: black;
    border-color: black;
    text-align: center;
    color: #ef6000;
    height: 125px;
    width:150px;
    font-size: 200%;
    border-radius: 200px;
     /* top: calc(-1 * (50vh - 0.5 * 1px)); */
     top: -60vh;
}

.buttonLink{
    color: black;
    background-color: transparent;
    font-size: xx-small;
}
br{
    font-size: 0.001px;
    height: 0.001;
    padding: 0.00001px;
    margin: 0.0001px;
}