a{
    color: #ef6000;
    background-color: black;
    border: 4px;
    border-color: black;
    padding: 5px
}

body{
    background-color:black;

}
img{
    background-color: black;
    align-items: center;
    width: 900px;
}
